<?xml version="1.0"?>
<!-- 
    注意: 除了手动编辑此文件外，您还可以使用 
    Web 管理工具来配置应用程序的设置。可以使用 Visual Studio 中的
    “网站”->“Asp.Net 配置”选项。
    设置和注释的完整列表可以在
    machine.config.comments 中找到，该文件通常位于
      \Windows\Microsoft.Net\Framework\vx.x\Config 中 
-->
<configuration>
  <appSettings>
    <add key="loginCss" value="~/cssFiles/LoginPage.css"/>
    <add key="MasterJs" value="~/javascriptFiles/jquery-1.4.2.min.js,~/javascriptFiles/jquery.form.js,~/javascriptFiles/jquery.nyroModal-1.6.2.pack.js,~/javascriptFiles/xmlHttpRequestPool.js,~/javascriptFiles/calendar.js"/>
    <add key="MainJS" value="~/javascriptFiles/createTable.js"/>
    <add key="clientDataBase" value="dm_eissy"/>
    <add key="userID" value="02101"/>
    <add key="userName" value="上云端科技(Eissy)"/>
    <!--<add key="smsClient.smsService" value="http://192.168.1.4:8089/smsService.asmx"/>
    <add key="couponWeb.couponService" value="http://192.168.1.4:8001/webService/couponService.asmx"/>-->
    <!--这里两个webservice在那台机器上发布网站使用那台机器的webservice-->
    <add key="smsClient.smsService" value="http://219.232.48.105:8089/smsService.asmx"/>
    <add key="couponWeb.couponService" value="http://www.eissy.com.cn/card/webService/couponService.asmx"/>
    <!--发送邮件服务器-->
    <!--<add key="SmtpServer" value="smtp.marjakurki.com.cn"/>-->
    <add key="SmtpServer" value="smtp.ym.163.com"/>
    <!--邮箱-->
    <!--<add key="FromUser" value="angelaliu@marjakurki.com.cn"/>-->
    <add key="FromUser" value="ad@eissy-fr.com"/>
    <!--邮箱密码-->
    <!--<add key="FromPwd" value="lingshou"/>-->
    <add key="FromPwd" value="eissyeissy"/>
    <!--邮箱服务的端口号（默认也是25）-->
    <add key="Port" value="25"/>
    <!--发送邮件的显示名称-->
    <add key="ShowName" value="mail.eissy-fr.com"/>
    <!--发送邮件的主题-->
    <add key="Subject" value="品牌童装网推荐了适合您的法国快时尚童装"/>
  </appSettings>
  <connectionStrings>
    <add name="LocalConnectionString" connectionString="server=.;database=master;uid=sa;pwd=123456"/>
  </connectionStrings>
  <system.web>
    <!-- 
            设置 compilation debug="true" 可将调试符号插入到
            已编译的页面。由于这会
            影响性能，因此请仅在开发过程中将此值
            设置为 true。
        -->
    <sessionState mode="InProc"/>
    <compilation debug="true" targetFramework="4.0"/>
    <!-- 
            设置缓存
        -->
    <caching>
      <sqlCacheDependency>
        <databases>
          <add name="eissy_dm" connectionStringName="LocalConnectionString"/>
        </databases>
      </sqlCacheDependency>
    </caching>
    <customErrors mode="RemoteOnly" defaultRedirect="ErrorPage.aspx"/>
    <!--
          通过 <authentication> 节可以配置
          安全身份验证模式，ASP.NET 
          使用该模式来识别来访用户身份。 
        -->
    <authentication mode="Windows"/>
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/>
  </system.web>
  <!-- 
        system.webServer 节是在 Internet Information Services 7.0 下运行 ASP.NET AJAX
        所必需的。对早期版本的 IIS 来说则不需要此节。
    -->
</configuration>