P.ibm-ind-link A {
	PADDING-RIGHT: 5px; DISPLAY: block; PADDING-LEFT: 21px; PADDING-BOTTOM: 5px; MARGIN: 0px; PADDING-TOP: 5px
}
UL.ibm-link-list A {
	PADDING-RIGHT: 5px; DISPLAY: block; PADDING-LEFT: 21px; PADDING-BOTTOM: 5px; MARGIN: 0px; PADDING-TOP: 5px
}
.ibm-two-column.ibm-container-body P.ibm-ind-link {
	CLEAR: both
}
LI.dwjp-newsing-link {
	BACKGROUND: url(developerworks/jp/i/icon_newsing.gif) no-repeat 2px 4px
}
P.ibm-ind-link A.dwjp-newsing-link {
	BACKGROUND: url(developerworks/jp/i/icon_newsing.gif) no-repeat 2px 4px
}
UL.ibm-link-list A.dwjp-newsing-link {
	BACKGROUND: url(developerworks/jp/i/icon_newsing.gif) no-repeat 2px 4px
}
LI.dwjp-hateb-link {
	BACKGROUND: url(developerworks/jp/i/icon_hateb.gif) no-repeat 2px 4px
}
P.ibm-ind-link A.dwjp-hateb-link {
	BACKGROUND: url(developerworks/jp/i/icon_hateb.gif) no-repeat 2px 4px
}
UL.ibm-link-list A.dwjp-hateb-link {
	BACKGROUND: url(developerworks/jp/i/icon_hateb.gif) no-repeat 2px 4px
}
LI.dwjp-lvclip-link {
	BACKGROUND: url(developerworks/jp/i/icon_lvclip.gif) no-repeat 2px 4px
}
P.ibm-ind-link A.dwjp-lvclip-link {
	BACKGROUND: url(developerworks/jp/i/icon_lvclip.gif) no-repeat 2px 4px
}
UL.ibm-link-list A.dwjp-lvclip-link {
	BACKGROUND: url(developerworks/jp/i/icon_lvclip.gif) no-repeat 2px 4px
}
LI.dwjp-delicious-link {
	BACKGROUND: url(developerworks/jp/i/icon_delicious.gif) no-repeat 2px 4px
}
P.ibm-ind-link A.dwjp-delicious-link {
	BACKGROUND: url(developerworks/jp/i/icon_delicious.gif) no-repeat 2px 4px
}
UL.ibm-link-list A.dwjp-delicious-link {
	BACKGROUND: url(developerworks/jp/i/icon_delicious.gif) no-repeat 2px 4px
}
LI.dwjp-buzz-link {
	BACKGROUND: url(developerworks/jp/i/icon_buzzurl.gif) no-repeat 2px 4px
}
P.ibm-ind-link A.dwjp-buzz-link {
	BACKGROUND: url(developerworks/jp/i/icon_buzzurl.gif) no-repeat 2px 4px
}
UL.ibm-link-list A.dwjp-buzz-link {
	BACKGROUND: url(developerworks/jp/i/icon_buzzurl.gif) no-repeat 2px 4px
}
LI.dwjp-choix-link {
	BACKGROUND: url(developerworks/jp/i/icon_choix.gif) no-repeat 2px 4px
}
P.ibm-ind-link A.dwjp-choix-link {
	BACKGROUND: url(developerworks/jp/i/icon_choix.gif) no-repeat 2px 4px
}
UL.ibm-link-list A.dwjp-choix-link {
	BACKGROUND: url(developerworks/jp/i/icon_choix.gif) no-repeat 2px 4px
}
LI.dwjp-fc2-link {
	BACKGROUND: url(developerworks/jp/i/icon_fc2.gif) no-repeat 2px 4px
}
P.ibm-ind-link A.dwjp-fc2-link {
	BACKGROUND: url(developerworks/jp/i/icon_fc2.gif) no-repeat 2px 4px
}
UL.ibm-link-list A.dwjp-fc2-link {
	BACKGROUND: url(developerworks/jp/i/icon_fc2.gif) no-repeat 2px 4px
}
LI.dwjp-mm-link {
	BACKGROUND: url(developerworks/jp/i/icon_mm.gif) no-repeat 2px 4px
}
P.ibm-ind-link A.dwjp-mm-link {
	BACKGROUND: url(developerworks/jp/i/icon_mm.gif) no-repeat 2px 4px
}
UL.ibm-link-list A.dwjp-mm-link {
	BACKGROUND: url(developerworks/jp/i/icon_mm.gif) no-repeat 2px 4px
}
LI.dwjp-niftyclip-link {
	BACKGROUND: url(developerworks/jp/i/icon_niftyclip.gif) no-repeat 2px 4px
}
P.ibm-ind-link A.dwjp-niftyclip-link {
	BACKGROUND: url(developerworks/jp/i/icon_niftyclip.gif) no-repeat 2px 4px
}
UL.ibm-link-list A.dwjp-niftyclip-link {
	BACKGROUND: url(developerworks/jp/i/icon_niftyclip.gif) no-repeat 2px 4px
}
LI.dwjp-ybm16-link {
	BACKGROUND: url(developerworks/jp/i/icon_ybm16.gif) no-repeat 2px 4px
}
P.ibm-ind-link A.dwjp-ybm16-link {
	BACKGROUND: url(developerworks/jp/i/icon_ybm16.gif) no-repeat 2px 4px
}
UL.ibm-link-list A.dwjp-ybm16-link {
	BACKGROUND: url(developerworks/jp/i/icon_ybm16.gif) no-repeat 2px 4px
}
LI.dwjp-cz-link {
	BACKGROUND: url(developerworks/jp/i/icon_cz.gif) no-repeat 2px 4px
}
P.ibm-ind-link A.dwjp-cz-link {
	BACKGROUND: url(developerworks/jp/i/icon_cz.gif) no-repeat 2px 4px
}
UL.ibm-link-list A.dwjp-cz-link {
	BACKGROUND: url(developerworks/jp/i/icon_cz.gif) no-repeat 2px 4px
}
LI.dwru-bobrdobr-link {
	BACKGROUND: url(developerworks/ru/i/bobrdobr.gif) no-repeat 2px 4px
}
P.ibm-ind-link A.dwru-bobrdobr-link {
	BACKGROUND: url(developerworks/ru/i/bobrdobr.gif) no-repeat 2px 4px
}
UL.ibm-link-list A.dwru-bobrdobr-link {
	BACKGROUND: url(developerworks/ru/i/bobrdobr.gif) no-repeat 2px 4px
}
LI.dwru-memori-link {
	BACKGROUND: url(developerworks/ru/i/memori.gif) no-repeat 2px 4px
}
P.ibm-ind-link A.dwru-memori-link {
	BACKGROUND: url(developerworks/ru/i/memori.gif) no-repeat 2px 4px
}
UL.ibm-link-list A.dwru-memori-link {
	BACKGROUND: url(developerworks/ru/i/memori.gif) no-repeat 2px 4px
}
LI.dwkr-delicious-link {
	BACKGROUND: url(developerworks/kr/i/icon_delicious.gif) no-repeat 2px 4px
}
P.ibm-ind-link A.dwkr-delicious-link {
	BACKGROUND: url(developerworks/kr/i/icon_delicious.gif) no-repeat 2px 4px
}
UL.ibm-link-list A.dwkr-delicious-link {
	BACKGROUND: url(developerworks/kr/i/icon_delicious.gif) no-repeat 2px 4px
}
LI.dwkr-margin-link {
	BACKGROUND: url(developerworks/kr/i/index.gif) no-repeat 2px 4px
}
P.ibm-ind-link A.dwkr-margin-link {
	BACKGROUND: url(developerworks/kr/i/index.gif) no-repeat 2px 4px
}
UL.ibm-link-list A.dwkr-margin-link {
	BACKGROUND: url(developerworks/kr/i/index.gif) no-repeat 2px 4px
}
LI.dwkr-naver-link {
	BACKGROUND: url(developerworks/kr/i/naver.gif) no-repeat 2px 4px
}
P.ibm-ind-link A.dwkr-naver-link {
	BACKGROUND: url(developerworks/kr/i/naver.gif) no-repeat 2px 4px
}
UL.ibm-link-list A.dwkr-naver-link {
	BACKGROUND: url(developerworks/kr/i/naver.gif) no-repeat 2px 4px
}
LI.dwkr-eolin-link {
	BACKGROUND: url(developerworks/kr/i/eolin.gif) no-repeat 2px 4px
}
P.ibm-ind-link A.dwkr-eolin-link {
	BACKGROUND: url(developerworks/kr/i/eolin.gif) no-repeat 2px 4px
}
UL.ibm-link-list A.dwkr-eolin-link {
	BACKGROUND: url(developerworks/kr/i/eolin.gif) no-repeat 2px 4px
}
DIV.dw-show-hide-spacer.ibm-hideable P {
	FONT-SIZE: 1em! important
}
