* HTML DIV.ibm-liquid #ibm-pcon {
	MIN-WIDTH: 930px; ; WIDTH: expression(document.body.clientWidth < 930 ? "930px" : "100%"); HEIGHT: 1%
}
* HTML #ibm-pcon {
	FLOAT: left
}
* HTML IMG.ibm-clear {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; LINE-HEIGHT: 1px; PADDING-TOP: 0px; HEIGHT: 1px
}
*:first-child + HTML #ibm-search-form {
	PADDING-BOTTOM: 2px; PADDING-TOP: 7px
}
* HTML #ibm-masthead {
	WIDTH: 930px
}
* HTML #ibm-pcon {
	WIDTH: 930px
}
* HTML DIV.ibm-liquid #ibm-masthead {
	WIDTH: 100%! important
}
* HTML #ibm-logo {
	MARGIN: 0px 0px 1px
}
* HTML #ibm-universal-nav {
	HEIGHT: 1%
}
* HTML #ibm-search-form {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; PADDING-TOP: 8px
}
* HTML #ibm-universal-nav {
	OVERFLOW: visible
}
* HTML #ibm-universal-nav LI {
	OVERFLOW: visible
}
* HTML P#ibm-geo SPAN {
	HEIGHT: 0%
}
* HTML #ibm-geo-tou LI {
	FLOAT: left
}
* HTML INPUT#q {
	MARGIN-BOTTOM: 7px
}
* HTML INPUT.ibm-btn-search {
	PADDING-RIGHT: 5px; PADDING-LEFT: 5px; MARGIN-BOTTOM: -1px; PADDING-BOTTOM: 5px; PADDING-TOP: 4px
}
*:first-child + HTML INPUT.ibm-btn-search {
	PADDING-RIGHT: 5px; PADDING-LEFT: 5px; MARGIN-BOTTOM: -1px; PADDING-BOTTOM: 5px; PADDING-TOP: 4px
}
* HTML .ibm-intro#ibm-leadspace #Flash {
	MARGIN-BOTTOM: 20px
}
*:first-child + HTML .ibm-intro#ibm-leadspace #Flash {
	MARGIN-BOTTOM: 20px
}
* HTML DIV.ibm-liquid #ibm-content {
	PADDING-RIGHT: 180px
}
* HTML DIV.ibm-content-expand.ibm-liquid #ibm-content {
	PADDING-RIGHT: 0px
}
* HTML #ibm-content-main A.ibm-external-link {
	PADDING-RIGHT: 0px; PADDING-LEFT: 18px; BACKGROUND: url(i/v16/icons/sout.gif) no-repeat 0px -2px; PADDING-BOTTOM: 0px; MARGIN: 0px; LINE-HEIGHT: 1em; PADDING-TOP: 0px; HEIGHT: 1%
}
* HTML #ibm-content-main .ibm-three-column .ibm-column {
	WIDTH: 170px; MARGIN-RIGHT: 9px
}
* HTML #ibm-content-main .ibm-three-column .ibm-column {
	MARGIN-RIGHT: 10px
}
* HTML #ibm-content-main .ibm-three-column .ibm-third.ibm-column {
	MARGIN-RIGHT: 0px
}
* HTML #ibm-content-main .ibm-two-column {
	DISPLAY: block; WIDTH: 528px
}
* HTML #ibm-content-main .ibm-three-column {
	DISPLAY: block; WIDTH: 528px
}
* HTML #ibm-content-main .ibm-two-column {
	WIDTH: 530px
}
* HTML #ibm-content-main .ibm-three-column {
	WIDTH: 530px
}
* HTML DIV.ibm-landing-page #ibm-content-main .ibm-two-column {
	WIDTH: 710px
}
* HTML DIV.ibm-landing-page #ibm-content-main .ibm-three-column {
	WIDTH: 710px
}
* HTML DIV.ibm-landing-page #ibm-content-main DIV.ibm-two-column.ibm-container-body {
	WIDTH: 708px
}
* HTML DIV.ibm-landing-page #ibm-content-main .ibm-container .ibm-three-column.ibm-container-body {
	WIDTH: 708px
}
* HTML DIV.ibm-landing-page #ibm-content-main .ibm-container .ibm-three-column.ibm-container-body {
	WIDTH: 100%
}
* HTML DIV.ibm-landing-page #ibm-content-main .ibm-four-column {
	WIDTH: 708px
}
* HTML DIV.ibm-landing-page #ibm-content-main .ibm-four-column {
	WIDTH: 100%
}
* HTML DIV.ibm-landing-page #ibm-content-main .ibm-three-column .ibm-column {
	WIDTH: 230px
}
* HTML DIV.ibm-landing-page #ibm-content-main .ibm-three-column .ibm-column {
	WIDTH: 229px
}
* HTML DIV.ibm-landing-page #ibm-content-main .ibm-three-column .ibm-third.ibm-column {
	MARGIN-LEFT: 2px! important
}
* HTML DIV.ibm-landing-page #ibm-content-main .ibm-container-body.ibm-three-column .ibm-column {
	MARGIN-LEFT: 1px
}
* HTML DIV.ibm-landing-page #ibm-content-main .ibm-container-body.ibm-three-column .ibm-column {
	MARGIN-LEFT: 2px
}
* HTML DIV.ibm-landing-page #ibm-content-main .ibm-four-column .ibm-column {
	WIDTH: 171px
}
* HTML DIV.ibm-landing-page #ibm-content-main .ibm-four-column .ibm-column {
	WIDTH: 167px
}
* HTML DIV.ibm-liquid #ibm-content-main .ibm-two-column {
	DISPLAY: block; FLOAT: left; WIDTH: auto
}
* HTML DIV.ibm-liquid #ibm-content-main .ibm-three-column {
	DISPLAY: block; FLOAT: left; WIDTH: auto
}
* HTML #ibm-content-main .ibm-container-body.ibm-three-column .ibm-column {
	WIDTH: 171px; MARGIN-RIGHT: 6px
}
* HTML #ibm-content-main .ibm-two-column.ibm-container-body .ibm-column {
	WIDTH: 260px; MARGIN-RIGHT: 0px
}
* HTML #ibm-content-main .ibm-alternate .ibm-container-body .ibm-column {
	MARGIN-RIGHT: 0px
}
* HTML #ibm-content-main .ibm-alternate-four .ibm-first.ibm-column {
	WIDTH: 350px! important
}
* HTML #ibm-content-main .ibm-alternate-four .ibm-second.ibm-column {
	WIDTH: 170px! important
}
* HTML #ibm-content-main .ibm-alternate-five .ibm-first.ibm-column {
	WIDTH: 170px! important
}
* HTML #ibm-content-main .ibm-alternate-five .ibm-second.ibm-column {
	WIDTH: 350px! important
}
* HTML DIV.ibm-landing-page #ibm-content-main .ibm-alternate-four .ibm-first.ibm-column {
	WIDTH: 530px! important
}
* HTML DIV.ibm-landing-page #ibm-content-main .ibm-alternate-four .ibm-second.ibm-column {
	WIDTH: 170px! important
}
* HTML DIV.ibm-landing-page #ibm-content-main .ibm-alternate-five .ibm-first.ibm-column {
	WIDTH: 170px! important
}
* HTML DIV.ibm-landing-page #ibm-content-main .ibm-alternate-five .ibm-second.ibm-column {
	WIDTH: 530px! important
}
* HTML DIV.ibm-landing-page #ibm-content-main .ibm-alternate-four .ibm-first.ibm-column LI.ibm-first {
	WIDTH: auto! important
}
* HTML DIV.ibm-landing-page #ibm-content-main .ibm-alternate-four .ibm-second.ibm-column LI.ibm-first {
	WIDTH: auto! important
}
* HTML DIV.ibm-landing-page #ibm-content-main .ibm-alternate-five .ibm-first.ibm-column LI.ibm-first {
	WIDTH: auto! important
}
* HTML DIV.ibm-landing-page #ibm-content-main .ibm-alternate-five .ibm-second.ibm-column LI.ibm-first {
	WIDTH: auto! important
}
* HTML .ibm-leadspace-overlay {
	HEIGHT: 170px
}
* HTML DIV.ibm-landing-page .ibm-leadspace-overlay {
	HEIGHT: 280px
}
* HTML DIV.ibm-landing-page .ibm-promo-overlay {
	HEIGHT: 120px
}
* HTML DIV.ibm-landing-page .ibm-related-information {
	HEIGHT: 120px
}
* HTML DIV.ibm-landing-page .ibm-related-information .ibm-three-column .ibm-column {
	WIDTH: 307px
}
* HTML DIV.ibm-landing-page .ibm-related-information .ibm-three-column .ibm-column {
	WIDTH: 287px
}
* HTML DIV.ibm-landing-page .ibm-related-information .ibm-five-column .ibm-column {
	WIDTH: 186px
}
* HTML DIV.ibm-landing-page .ibm-related-information .ibm-five-column .ibm-column {
	WIDTH: 166px
}
* HTML DIV.ibm-liquid #ibm-content-main .ibm-alternate-four .ibm-first.ibm-column {
	WIDTH: 66%! important
}
* HTML DIV.ibm-liquid #ibm-content-main .ibm-alternate-four .ibm-second.ibm-column {
	WIDTH: 33%! important
}
* HTML DIV.ibm-liquid #ibm-content-main .ibm-alternate-five .ibm-first.ibm-column {
	WIDTH: 33%! important
}
* HTML DIV.ibm-liquid #ibm-content-main .ibm-alternate-five .ibm-second.ibm-column {
	WIDTH: 66%! important
}
* HTML .ibm-content-expand#ibm-top #ibm-content-main .ibm-two-column {
	WIDTH: 708px
}
* HTML .ibm-content-expand#ibm-top #ibm-content-main .ibm-three-column {
	WIDTH: 708px
}
* HTML .ibm-content-expand#ibm-top #ibm-content-main .ibm-two-column {
	WIDTH: 710px
}
* HTML .ibm-content-expand#ibm-top #ibm-content-main .ibm-three-column {
	WIDTH: 710px
}
* HTML .ibm-content-expand#ibm-top #ibm-content-main .ibm-alternate-four .ibm-first.ibm-column {
	WIDTH: 450px! important
}
* HTML .ibm-content-expand#ibm-top #ibm-content-main .ibm-alternate-four .ibm-second.ibm-column {
	WIDTH: 250px! important
}
* HTML .ibm-content-expand#ibm-top #ibm-content-main .ibm-alternate-five .ibm-first.ibm-column {
	WIDTH: 250px! important
}
* HTML .ibm-content-expand#ibm-top #ibm-content-main .ibm-alternate-five .ibm-second.ibm-column {
	WIDTH: 450px! important
}
* HTML .ibm-content-expand#ibm-top #ibm-content-main .ibm-three-column .ibm-column {
	WIDTH: 230px
}
* HTML .ibm-two-column {
	OVERFLOW: visible
}
* HTML .ibm-three-column {
	OVERFLOW: visible
}
* HTML .ibm-four-column {
	OVERFLOW: visible
}
* HTML #ibm-content-main .ibm-container .ibm-three-column.ibm-container-body .ibm-third {
	MARGIN-RIGHT: 0px
}
* HTML #ibm-content-main .ibm-container .ibm-four-column.ibm-container-body .ibm-fourth {
	MARGIN-RIGHT: 0px
}
* HTML #ibm-content-main .ibm-container .ibm-three-column.ibm-container-body .ibm-third {
	FLOAT: right
}
* HTML DIV.ibm-liquid #ibm-content-main .ibm-container .ibm-three-column DIV.ibm-third {
	FLOAT: right; WIDTH: auto
}
* HTML #ibm-content-head {
	FLOAT: left
}
* HTML .ibm-container {
	FLOAT: left
}
* HTML #ibm-content-head UL#ibm-navigation-trail LI {
	FLOAT: none
}
* HTML DIV.ibm-landing-page #ibm-content-head IMG {
	FLOAT: none
}
* HTML .ibm-content-subtitle#ibm-content-head H1 {
	PADDING-BOTTOM: 2px; PADDING-TOP: 2px
}
*:first-child + HTML .ibm-content-subtitle#ibm-content-head H1 {
	PADDING-BOTTOM: 5px; PADDING-TOP: 2px
}
* HTML .ibm-container-body {
	HEIGHT: 1%
}
*:first-child + HTML .ibm-container-body {
	HEIGHT: 1%
}
* HTML #ibm-content-main .ibm-portrait-module.ibm-container .ibm-container-body {
	HEIGHT: 55px
}
* HTML #ibm-content-main .ibm-portrait-module.ibm-container .ibm-container-body IMG {
	MARGIN: 0px -3px
}
* HTML #ibm-content-main .ibm-container .ibm-container-body UL.ibm-portrait-module-list LI {
	HEIGHT: 48px
}
* HTML #ibm-content-main .ibm-container .ibm-container-body UL.ibm-portrait-module-list LI IMG {
	MARGIN: 0px -3px
}
* HTML .ibm-script-module.ibm-container {
	MARGIN: 0em 0em -1.2em
}
* HTML #ibm-content-main .ibm-two-column H2.ibm-first {
	FLOAT: none; WIDTH: auto
}
* HTML #ibm-content-main .ibm-two-column H2.ibm-second {
	FLOAT: none; WIDTH: auto
}
* HTML #ibm-content-main .ibm-two-column H2.ibm-third {
	FLOAT: none; WIDTH: auto
}
* HTML DIV.ibm-liquid #ibm-content-main .ibm-two-column H2.ibm-first {
	WIDTH: auto
}
* HTML DIV.ibm-liquid #ibm-content-main .ibm-two-column H2.ibm-second {
	WIDTH: auto
}
* HTML DIV.ibm-liquid #ibm-content-main .ibm-two-column H2.ibm-third {
	WIDTH: auto
}
* HTML UL.ibm-compact A {
	PADDING-RIGHT: 5px! important; BACKGROUND-POSITION: 2px 1px; PADDING-LEFT: 18px! important; PADDING-BOTTOM: 3px! important; PADDING-TOP: 2px! important
}
* HTML #ibm-content-main FORM.ibm-row-form DIV.ibm-two-column P.ibm-first {
	PADDING-RIGHT: 0px
}
* HTML #ibm-content-main FORM.ibm-row-form DIV.ibm-two-column P.ibm-second {
	MARGIN-LEFT: -12px
}
*:first-child + HTML #ibm-content-main FORM.ibm-column-form FIELDSET LEGEND {
	PADDING-LEFT: 0px; MARGIN-LEFT: -3px! important
}
* HTML #ibm-content-main FORM.ibm-column-form FIELDSET LEGEND {
	PADDING-LEFT: 0px; MARGIN-LEFT: -3px! important
}
* HTML .ibm-column-form P {
	HEIGHT: 1%
}
* HTML .ibm-column-form .ibm-buttons-row P {
	HEIGHT: auto
}
* HTML #ibm-content-main FORM .ibm-checkbox-layout LABEL {
	HEIGHT: 1%
}
* HTML #ibm-content-main FORM.ibm-column-form P SPAN.ibm-input-group {
	HEIGHT: 1%
}
* HTML #ibm-content-main FORM.ibm-column-form P SPAN.ibm-input-group INPUT.ibm-input-group {
	MARGIN-LEFT: -157px
}
*:first-child + HTML .ibm-column-form P {
	HEIGHT: 1%
}
*:first-child + HTML .ibm-column-form .ibm-buttons-row P {
	HEIGHT: auto
}
* HTML #ibm-content-main .ibm-buttons-row SPAN.ibm-sep {
	PADDING-RIGHT: 0px
}
*:first-child + HTML #ibm-content-main .ibm-buttons-row SPAN.ibm-sep {
	PADDING-RIGHT: 0px
}
* HTML #ibm-content-main P.ibm-back-to-top.ibm-ind-link A.ibm-anchor-up-link {
	PADDING-RIGHT: 0px; PADDING-LEFT: 18px; BACKGROUND: url(i/v16/icons/u_bold.gif) no-repeat 0px -2px; PADDING-BOTTOM: 0px; MARGIN: 0px; LINE-HEIGHT: 1em; PADDING-TOP: 0px; HEIGHT: 1%
}
* HTML #ibm-content-main P.ibm-next-page.ibm-ind-link A.ibm-forward-link {
	PADDING-RIGHT: 0px; PADDING-LEFT: 18px; BACKGROUND: url(i/v16/icons/fw.gif) no-repeat 0px -2px; PADDING-BOTTOM: 0px; MARGIN: 0px; LINE-HEIGHT: 1em; PADDING-TOP: 0px; HEIGHT: 1%
}
* HTML #ibm-content-main P.ibm-next-page.ibm-ind-link A.ibm-forward-em-link {
	PADDING-RIGHT: 0px; PADDING-LEFT: 18px; BACKGROUND: url(i/v16/icons/fw_bold.gif) no-repeat 0px -2px; PADDING-BOTTOM: 0px; MARGIN: 0px; LINE-HEIGHT: 1em; PADDING-TOP: 0px; HEIGHT: 1%
}
* HTML #ibm-content-main DIV.ibm-page-tools UL A {
	CLEAR: left; DISPLAY: block; FLOAT: left
}
* HTML DIV.ibm-text UL.ibm-tabs {
	BACKGROUND-POSITION: 0px 1px
}
*:first-child + HTML DIV.ibm-text UL.ibm-tabs {
	BACKGROUND-POSITION: 0px 1px
}
* HTML DIV.ibm-text UL.ibm-tabs SPAN.ibm-sep {
	HEIGHT: 1%
}
* HTML DIV.ibm-landing-page .ibm-tab-navigation#ibm-content-body DIV#ibm-landing-page-tabs {
	FLOAT: none
}
#ibm-content:unknown {
	CLEAR: both; DISPLAY: block; VISIBILITY: hidden; HEIGHT: 0px; content: "."
}
* HTML DIV.ibm-link-list-az UL.ibm-link-list LI A {
	FLOAT: left
}
* HTML DIV.ibm-link-list-az {
	BACKGROUND-POSITION: 0px 1px
}
*:first-child + HTML DIV.ibm-link-list-az {
	BACKGROUND-POSITION: 0px 1px
}
* HTML #ibm-content-main .ibm-portrait-module UL.ibm-newsletter {
	HEIGHT: 70px
}
* HTML .ibm-portrait-module UL.ibm-newsletter {
	PADDING-LEFT: 0px! important
}
*:first-child + HTML .ibm-portrait-module UL.ibm-newsletter {
	PADDING-LEFT: 0px! important
}
* HTML IMG.ibm-newsletter-portrait {
	POSITION: relative
}
*:first-child + HTML IMG.ibm-newsletter-portrait {
	POSITION: relative
}
* HTML UL.ibm-twisty {
	HEIGHT: 1%
}
* HTML UL.ibm-twisty LI {
	HEIGHT: 1%
}
* HTML UL.ibm-twisty LI DIV.ibm-twisty-body {
	MARGIN-LEFT: 19px
}
*:first-child + HTML UL.ibm-twisty {
	HEIGHT: 1%
}
*:first-child + HTML UL.ibm-twisty > LI {
	HEIGHT: 1%
}
* HTML .ibm-portrait-module-list H2 A:visited {
	COLOR: #969! important
}
* HTML #ibm-content-sidebar {
	MARGIN-LEFT: 537px
}
* HTML DIV.ibm-landing-page #ibm-content-sidebar {
	MARGIN-LEFT: 737px
}
* HTML UL.ibm-link-list LI A {
	PADDING-BOTTOM: 4px; PADDING-TOP: 5px
}
* HTML UL.ibm-link-list LI P.ibm-call-info {
	PADDING-BOTTOM: 3px! important; PADDING-TOP: 2px! important
}
*:first-child + HTML UL.ibm-link-list LI P.ibm-call-info {
	PADDING-BOTTOM: 4px! important; PADDING-TOP: 2px! important
}
* HTML UL.ibm-link-list LI.ibm-link-description P.ibm-call-info {
	PADDING-TOP: 2px! important
}
* HTML UL.ibm-alternate.ibm-link-list LI A {
	PADDING-BOTTOM: 2px; PADDING-TOP: 2px
}
* HTML DIV.ibm-liquid #ibm-content-sidebar {
	MARGIN-LEFT: 0px; WIDTH: 180px
}
* HTML #ibm-content-sidebar .ibm-container {
	MARGIN-LEFT: -3px
}
* HTML #ibm-content-sidebar .ibm-portrait {
	HEIGHT: 60px
}
* HTML #ibm-content-sidebar .ibm-alternate.ibm-portrait {
	HEIGHT: 45px
}
* HTML #ibm-navigation {
	LEFT: 10px; MARGIN-LEFT: -930px
}
* HTML DIV.ibm-alt #ibm-navigation {
	LEFT: 10px; MARGIN-LEFT: -930px
}
* HTML #ibm-navigation LI#ibm-parent-link {
	MARGIN-BOTTOM: -2px
}
* HTML #ibm-navigation UL LI A {
	HEIGHT: 1%
}
* HTML #ibm-navigation LI {
	HEIGHT: 1%
}
* HTML #ibm-navigation UL {
	HEIGHT: 1%
}
* HTML #ibm-navigation LI A {
	HEIGHT: 1%
}
* HTML DIV.ibm-liquid #ibm-navigation {
	MARGIN-LEFT: -100%
}
* HTML DIV.ibm-liquid #ibm-navigation {
	LEFT: 0px
}
* HTML DIV.ibm-liquid #ibm-navigation {
	PADDING-LEFT: 10px
}
*:first-child + HTML #ibm-navigation {
	LEFT: 10px
}
* HTML #ibm-top DIV#ibm-page-tools {
	HEIGHT: 0px
}
* HTML #ibm-page-tools UL A {
	CLEAR: left; DISPLAY: block; FLOAT: left
}
* HTML #ibm-footer {
	OVERFLOW: visible
}
* HTML #ibm-footer LI {
	OVERFLOW: visible
}
* HTML #ibm-footer {
	WIDTH: 930px; HEIGHT: 1%
}
* HTML DIV.ibm-liquid #ibm-footer {
	WIDTH: 100%! important
}
* HTML INPUT.ibm-btn-arrow-pri {
	PADDING-RIGHT: 0px; PADDING-LEFT: 32px; PADDING-BOTTOM: 5px; PADDING-TOP: 5px; HEIGHT: 28px
}
* HTML INPUT.ibm-btn-cancel-pri {
	PADDING-RIGHT: 0px; PADDING-LEFT: 32px; PADDING-BOTTOM: 5px; PADDING-TOP: 5px; HEIGHT: 28px
}
* HTML INPUT.ibm-btn-cart-pri {
	PADDING-RIGHT: 0px; PADDING-LEFT: 32px; PADDING-BOTTOM: 5px; PADDING-TOP: 5px; HEIGHT: 28px
}
* HTML INPUT.ibm-btn-customize-pri {
	PADDING-RIGHT: 0px; PADDING-LEFT: 32px; PADDING-BOTTOM: 5px; PADDING-TOP: 5px; HEIGHT: 28px
}
* HTML INPUT.ibm-btn-download-pri {
	PADDING-RIGHT: 0px; PADDING-LEFT: 32px; PADDING-BOTTOM: 5px; PADDING-TOP: 5px; HEIGHT: 28px
}
* HTML INPUT.ibm-btn-view-pri {
	PADDING-RIGHT: 0px; PADDING-LEFT: 32px; PADDING-BOTTOM: 5px; PADDING-TOP: 5px; HEIGHT: 28px
}
* HTML INPUT.ibm-btn-add-sec {
	PADDING-RIGHT: 0px; PADDING-LEFT: 32px; PADDING-BOTTOM: 5px; PADDING-TOP: 5px; HEIGHT: 28px
}
* HTML INPUT.ibm-btn-arrow-sec {
	PADDING-RIGHT: 0px; PADDING-LEFT: 32px; PADDING-BOTTOM: 5px; PADDING-TOP: 5px; HEIGHT: 28px
}
* HTML INPUT.ibm-btn-back-sec {
	PADDING-RIGHT: 0px; PADDING-LEFT: 32px; PADDING-BOTTOM: 5px; PADDING-TOP: 5px; HEIGHT: 28px
}
* HTML INPUT.ibm-btn-cancel-sec {
	PADDING-RIGHT: 0px; PADDING-LEFT: 32px; PADDING-BOTTOM: 5px; PADDING-TOP: 5px; HEIGHT: 28px
}
* HTML INPUT.ibm-btn-cart-sec {
	PADDING-RIGHT: 0px; PADDING-LEFT: 32px; PADDING-BOTTOM: 5px; PADDING-TOP: 5px; HEIGHT: 28px
}
* HTML INPUT.ibm-btn-chat-sec {
	PADDING-RIGHT: 0px; PADDING-LEFT: 32px; PADDING-BOTTOM: 5px; PADDING-TOP: 5px; HEIGHT: 28px
}
* HTML INPUT.ibm-btn-customize-sec {
	PADDING-RIGHT: 0px; PADDING-LEFT: 32px; PADDING-BOTTOM: 5px; PADDING-TOP: 5px; HEIGHT: 28px
}
* HTML INPUT.ibm-btn-download-sec {
	PADDING-RIGHT: 0px; PADDING-LEFT: 32px; PADDING-BOTTOM: 5px; PADDING-TOP: 5px; HEIGHT: 28px
}
* HTML INPUT.ibm-btn-email-sec {
	PADDING-RIGHT: 0px; PADDING-LEFT: 32px; PADDING-BOTTOM: 5px; PADDING-TOP: 5px; HEIGHT: 28px
}
* HTML INPUT.ibm-btn-pda-sec {
	PADDING-RIGHT: 0px; PADDING-LEFT: 32px; PADDING-BOTTOM: 5px; PADDING-TOP: 5px; HEIGHT: 28px
}
* HTML INPUT.ibm-btn-phone-sec {
	PADDING-RIGHT: 0px; PADDING-LEFT: 32px; PADDING-BOTTOM: 5px; PADDING-TOP: 5px; HEIGHT: 28px
}
* HTML INPUT.ibm-btn-refresh-sec {
	PADDING-RIGHT: 0px; PADDING-LEFT: 32px; PADDING-BOTTOM: 5px; PADDING-TOP: 5px; HEIGHT: 28px
}
* HTML INPUT.ibm-btn-remove-sec {
	PADDING-RIGHT: 0px; PADDING-LEFT: 32px; PADDING-BOTTOM: 5px; PADDING-TOP: 5px; HEIGHT: 28px
}
* HTML INPUT.ibm-btn-undo-sec {
	PADDING-RIGHT: 0px; PADDING-LEFT: 32px; PADDING-BOTTOM: 5px; PADDING-TOP: 5px; HEIGHT: 28px
}
* HTML INPUT.ibm-btn-video-sec {
	PADDING-RIGHT: 0px; PADDING-LEFT: 32px; PADDING-BOTTOM: 5px; PADDING-TOP: 5px; HEIGHT: 28px
}
* HTML INPUT.ibm-btn-view-sec {
	PADDING-RIGHT: 0px; PADDING-LEFT: 32px; PADDING-BOTTOM: 5px; PADDING-TOP: 5px; HEIGHT: 28px
}
*:first-child + HTML INPUT.ibm-btn-arrow-pri {
	PADDING-RIGHT: 0px; PADDING-LEFT: 32px; PADDING-BOTTOM: 5px; PADDING-TOP: 5px
}
*:first-child + HTML INPUT.ibm-btn-cancel-pri {
	PADDING-RIGHT: 0px; PADDING-LEFT: 32px; PADDING-BOTTOM: 5px; PADDING-TOP: 5px
}
*:first-child + HTML INPUT.ibm-btn-cart-pri {
	PADDING-RIGHT: 0px; PADDING-LEFT: 32px; PADDING-BOTTOM: 5px; PADDING-TOP: 5px
}
*:first-child + HTML INPUT.ibm-btn-customize-pri {
	PADDING-RIGHT: 0px; PADDING-LEFT: 32px; PADDING-BOTTOM: 5px; PADDING-TOP: 5px
}
*:first-child + HTML INPUT.ibm-btn-download-pri {
	PADDING-RIGHT: 0px; PADDING-LEFT: 32px; PADDING-BOTTOM: 5px; PADDING-TOP: 5px
}
*:first-child + HTML INPUT.ibm-btn-view-pri {
	PADDING-RIGHT: 0px; PADDING-LEFT: 32px; PADDING-BOTTOM: 5px; PADDING-TOP: 5px
}
*:first-child + HTML INPUT.ibm-btn-add-sec {
	PADDING-RIGHT: 0px; PADDING-LEFT: 32px; PADDING-BOTTOM: 5px; PADDING-TOP: 5px
}
*:first-child + HTML INPUT.ibm-btn-arrow-sec {
	PADDING-RIGHT: 0px; PADDING-LEFT: 32px; PADDING-BOTTOM: 5px; PADDING-TOP: 5px
}
*:first-child + HTML INPUT.ibm-btn-back-sec {
	PADDING-RIGHT: 0px; PADDING-LEFT: 32px; PADDING-BOTTOM: 5px; PADDING-TOP: 5px
}
*:first-child + HTML INPUT.ibm-btn-cancel-sec {
	PADDING-RIGHT: 0px; PADDING-LEFT: 32px; PADDING-BOTTOM: 5px; PADDING-TOP: 5px
}
*:first-child + HTML INPUT.ibm-btn-cart-sec {
	PADDING-RIGHT: 0px; PADDING-LEFT: 32px; PADDING-BOTTOM: 5px; PADDING-TOP: 5px
}
*:first-child + HTML INPUT.ibm-btn-chat-sec {
	PADDING-RIGHT: 0px; PADDING-LEFT: 32px; PADDING-BOTTOM: 5px; PADDING-TOP: 5px
}
*:first-child + HTML INPUT.ibm-btn-customize-sec {
	PADDING-RIGHT: 0px; PADDING-LEFT: 32px; PADDING-BOTTOM: 5px; PADDING-TOP: 5px
}
*:first-child + HTML INPUT.ibm-btn-download-sec {
	PADDING-RIGHT: 0px; PADDING-LEFT: 32px; PADDING-BOTTOM: 5px; PADDING-TOP: 5px
}
*:first-child + HTML INPUT.ibm-btn-email-sec {
	PADDING-RIGHT: 0px; PADDING-LEFT: 32px; PADDING-BOTTOM: 5px; PADDING-TOP: 5px
}
*:first-child + HTML INPUT.ibm-btn-pda-sec {
	PADDING-RIGHT: 0px; PADDING-LEFT: 32px; PADDING-BOTTOM: 5px; PADDING-TOP: 5px
}
*:first-child + HTML INPUT.ibm-btn-phone-sec {
	PADDING-RIGHT: 0px; PADDING-LEFT: 32px; PADDING-BOTTOM: 5px; PADDING-TOP: 5px
}
*:first-child + HTML INPUT.ibm-btn-refresh-sec {
	PADDING-RIGHT: 0px; PADDING-LEFT: 32px; PADDING-BOTTOM: 5px; PADDING-TOP: 5px
}
*:first-child + HTML INPUT.ibm-btn-remove-sec {
	PADDING-RIGHT: 0px; PADDING-LEFT: 32px; PADDING-BOTTOM: 5px; PADDING-TOP: 5px
}
*:first-child + HTML INPUT.ibm-btn-undo-sec {
	PADDING-RIGHT: 0px; PADDING-LEFT: 32px; PADDING-BOTTOM: 5px; PADDING-TOP: 5px
}
*:first-child + HTML INPUT.ibm-btn-video-sec {
	PADDING-RIGHT: 0px; PADDING-LEFT: 32px; PADDING-BOTTOM: 5px; PADDING-TOP: 5px
}
*:first-child + HTML INPUT.ibm-btn-view-sec {
	PADDING-RIGHT: 0px; PADDING-LEFT: 32px; PADDING-BOTTOM: 5px; PADDING-TOP: 5px
}
* HTML INPUT.ibm-btn-go {
	MARGIN-BOTTOM: -10px
}
* HTML INPUT.ibm-btn-view {
	MARGIN-BOTTOM: -10px
}
*:first-child + HTML INPUT.ibm-btn-go {
	MARGIN-BOTTOM: -11px
}
*:first-child + HTML INPUT.ibm-btn-view {
	MARGIN-BOTTOM: -11px
}
* HTML DIV#ibm-overlay-top {
	WIDTH: 390px
}
*:first-child + HTML DIV#ibm-overlay-top {
	Z-INDEX: 1
}
* HTML DIV#ibm-overlay-masthead {
	BACKGROUND: url(i/v16/overlay/sprites.gif) no-repeat 0px 0px; HEIGHT: 39px
}
* HTML DIV#ibm-overlay-content {
	BACKGROUND: url(i/v16/overlay/sprites.gif) repeat-y -930px 0px
}
* HTML DIV#ibm-overlay-content .ibm-two-column .ibm-column {
	WIDTH: 190px
}
* HTML DIV#ibm-overlay-content .ibm-two-column .ibm-first.ibm-column P {
	MARGIN: 0px 0px 0px 20px
}
* HTML DIV#ibm-overlay-content .ibm-two-column .ibm-first.ibm-column UL {
	MARGIN: 0px 0px 0px 20px
}
* HTML DIV#ibm-overlay-content .ibm-two-column .ibm-second.ibm-column P {
	MARGIN: 0px 25px 0px 0px
}
* HTML DIV.ibm-overlay-signin#ibm-overlay-content FORM .ibm-two-column INPUT {
	WIDTH: 165px
}
* HTML DIV.ibm-overlay-signin#ibm-overlay-content DIV.ibm-overlay-legal P {
	BACKGROUND: url(i/v16/icons/lock.gif) no-repeat 100% 50%
}
* HTML DIV#ibm-overlay-content P {
	MARGIN: 0px 20px
}
* HTML DIV#ibm-overlay-content DIV.ibm-rule {
	MARGIN: 0px 1px
}
* HTML DIV#ibm-overlay-footer {
	BACKGROUND: url(i/v16/overlay/sprites.gif) no-repeat -460px 0px; HEIGHT: 5px
}
* HTML DIV#ibm-overlay-top H2 {
	MARGIN: 0px 18px
}
